@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');



body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}
.nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.501);
  height: 40px;
  padding: 30px;
}
li {
  display: inline;
  padding: 10px;
  top: 50%;
}
a {
  color: white;
  text-decoration: none;
}
#company_name {
  position: absolute;
  top: 0px;
  left: 16px;
  float: left;
  font-family: 'Zeyada', cursive;
  font-size: 40px;
}
.intro {
  background-image: url('images/rusticbread.jpeg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}
h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
}

p{
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

button {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: rgba(250, 235, 215, 0.478);
  color: white;
  border: dotted;
  padding: 10px;
}
