@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');



body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}
.nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.501);
  height: 40px;
  padding: 30px;
}
li {
  display: inline;
  padding: 10px;
  top: 50%;
}
a {
  color: white;
  text-decoration: none;
}
#company_name {
  position: absolute;
  top: 0px;
  left: 16px;
  float: left;
  font-family: 'Zeyada', cursive;
  font-size: 40px;
}
.intro {
  background-image: url('images/rusticbread.jpeg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}
h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
}

#fresh{
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

button {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: rgba(250, 235, 215, 0.478);
  color: white;
  border: dotted;
  padding: 10px;
}

/* CAKES SECTION STYLING */
.cakes {
  display: flex;
  align-items: center;
  background-image: url('images/grunge-vintage-old-paper-background.jpg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cakes_left {
  padding-top: 50px;
  text-align: center;
  width: 50%;
}
.cakes_right{

}
#bread_break_img{
border-radius: 50%;
width: 100px;
height: 100px;
position: absolute;
left: 50%;
margin-left: -50px;
margin-top: -50px;
z-index: 1;
}
#art_cakes {
  font-size: 50px;
  margin-bottom: -2px;
  color: rgb(83, 83, 83);
}
#memories {
  color:rgba(116, 71, 11, 0.478);
  margin-top: 0px;
}
#cake_p {
  padding: 0px 100px 0px 100px;
  letter-spacing: 5px;
}
#chef {
  padding-top: 50px;
  font-size: 30px;
  color: rgb(83, 83, 83);
}
.chef_info{
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}
#chef_left{
  padding-left: 100px;
  font-size: 20px;
}
#chef_right{
  padding-right: 100px;
  font-size: 20px;
}
#chef_img{
  width: 125px;
}
#unique_creations{
  font-family: 'Zeyada', cursive;
  font-size: 40px;
}

.square_img{
  width: 200px;
  height: 200px;
}