@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');



body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}
.nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.501);
  height: 40px;
  padding: 30px;
}
li {
  display: inline;
  padding: 10px;
  top: 50%;
}
a {
  color: white;
  text-decoration: none;
}
#company_name {
  position: absolute;
  top: 0px;
  left: 16px;
  float: left;
  font-family: 'Zeyada', cursive;
  font-size: 40px;
}
.intro {
  background-image: url('images/rusticbread.jpeg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}
h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
}

#fresh{
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

button {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: rgba(250, 235, 215, 0.478);
  color: white;
  border: dotted;
  padding: 10px;
}
#bread_break_img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 1;
  }

/* CAKES SECTION STYLING */
.cakes {
  display: flex;
  align-items: center;
  background-image: url('images/tanbackground.jpeg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

.cakes_left {
  padding-top: 50px;
  text-align: center;
  width: 50%;
}
/* THIS NEEDS WORK, NOT RESPONSIVE */
.cakes_right{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 0 auto;
  row-gap: 10px;
  grid-gap: 10px;
}

#art_cakes {
  font-size: 50px;
  margin-bottom: -2px;
  color: rgb(83, 83, 83);
}
#memories {
  color:rgb(136, 99, 49);
  font-style: italic;
}
#cake_p {
  padding: 0px 100px 0px 100px;
  letter-spacing: 5px;
}
#chef {
  font-size: 30px;
  color: rgb(83, 83, 83);
  margin-bottom: -15px;
}
.chef_info{
  display: flex;
  align-items: center;
  justify-content: center;
}
#chef_left{
  padding-left: 100px;
  font-size: 20px;
}
#chef_right{
  padding-right: 100px;
  font-size: 20px;
}
#chef_img{
  width: 125px;
  padding: 25px;
}
#unique_creations{
  font-family: 'Zeyada', cursive;
  font-size: 40px;
}
.square_img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* PANCAKE SECTION STYLING */
.pancakes {
  background-image: url('images/bakingtools.jpeg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.pancake_overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top:15%;
  text-align: center;
}
#pancakes_img {
  width: 600px;
}
.text {
  background: rgba(238, 230, 220, 0.581);
  padding: 72px;
}
#tasty {
  font-size: 50px;
  margin-bottom: -2px;
  color: rgb(83, 83, 83);
}
#seasonal, #ready  {
  color:rgba(116, 71, 11, 0.478);
}
.ready_in{
  position: absolute;
  background: rgba(238, 230, 220, 0.581);
  z-index: 1;
}

/* BREAKFAST SECTION STYLING */
.breakfast {
  background-image: url('images/darkbreakfast.jpeg'); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
.breakfast_menu {
  width: 50%;
  padding-top: 150px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
#breakfast_title {
  font-size: 45px;
}
#am_open, .price {
  color:rgb(248, 178, 86);
  letter-spacing: 2px;
  margin-top: -25px;
}

.food_name {
  font-size: 30px;
}

.food_description {
  margin-top: -25px;
  font-size: 18px;
  letter-spacing: 2px;
}

/* PAPERS SECTION STYLING */



/* SANDWICH SECTION STYLING */
.sandwich {
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color:  rgb(243,241,233);
}
.grid{
display: flex;
align-items: center;
justify-content: space-evenly;
}
.small_round{
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
.round_pic_title {
  font-size: 20px;
  color:rgb(136, 99, 49);
}
#round_p {
  color:rgb(136, 99, 49);
  font-style: italic;
}
#round_images_left{
  width: 20%;
}
#sandwich{
  font-size: 50px;
  color: rgba(83, 83, 83);
}
#big_sandwich{
  width: 500px;
  height: 500px;
}
#sandwich_img{
width:500px;
height: 500px;
}